 @page "/login"
@using Microsoft.EntityFrameworkCore
@using TaskManager.Data
@inject IDbContextFactory<TaskManagerAppContext> DbFactory
@using Microsoft.AspNetCore.Components


<PageTitle>Task Manager App</PageTitle>

<h1>Welcome to Legon Book Inventory</h1>
<h2>Please Login your details</h2>